<div class="banner">
  <div class="container">
    <p id="aventure">AVENTURE</p>
    <p id="aventure-description">One-of-a-kind activities hosted by locals</p>
    <a href="#location" id="begin-btn">Find your next adventure today</a>
  </div>
</div>
