// Define variables for your color scheme

// For example:
$red: #FD1015;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$medium-gray: #c7c7c7;
$light-gray: #F4F4F4;

$black: #212121;
$blue: #487AFA;
$yellow: #F1E821;
$offwhite: #caebe7;
$orange: #ffd500;
