.activity-photo {
  height: 500px;
  width: 800px;
  object-fit: cover;
  border-radius: 5px;
}

.activity-details-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: flex-start;
}

.activity-description {
  padding: 20px 0px;
}

.activity-reviews {
  padding: 20px 0px;
}

