<h1>Your bookings</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Activity</th>
    <th>Host</th>
    <th>Location</th>
  </tr>
  <% @bookings.each do |booking| %>
    <tr>
      <td><%= booking.date %></td>
      <td><%= booking.activity.name %></td>
      <td><%= booking.host.first_name %></a></td>
      <td><%= booking.activity.location %></a></td>
    </tr>
  <% end %>
</table>
