<h1>All of <%= @user.first_name %>'s' Bookings</h1>

<% @bookings.each do |booking| %>
  <h5>On <%= booking.date %></h5>
  <h3><%= @user.first_name %> is going <%= booking.activity.name %></h3>
<% end %>
