.banner {
  padding: 30px 0 10px;
  margin-bottom: 36px;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1498598457418-36ef20772bb9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
  height: 100vh;
  object-fit: cover;
  background-position: center;
}

#aventure {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 150px;
  font-weight: bold;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  z-index: 999;
}

#begin-btn {
  font-size: 28px;
  color: black;
  padding: 4px 12px;
  margin: 4px 8px;
  border-radius: 30px;
  text-decoration: none;
  border: 2px solid black;
}

#begin-btn:hover {
  font-weight:bold;
}
