.banner {
  padding: 30px 0 10px;
  margin-bottom: 36px;
  text-align: center;
}

#aventure {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 150px;
  font-weight: bold;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}

#aventure-description {
  font-size: 24px;
  color: black;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}
