.btn-main {
  background-color: teal;
  color: white;
  border-radius: 8px;
  padding: 8px 28px;
  font-size: 16px;
}

.btn-main:hover {
  color: $offwhite;
  text-decoration: none;
}

.btn-navbar {
  background-color: teal;
  color: white;
  border-radius: 8px;
  padding: 14px 40px;
  font-size: 18px;
}

.btn-navbar:hover {
  color: $offwhite;
  text-decoration: none;
}

.add-activity {
  margin-top: 10px;
}

.add-activity a {
  font-size: 20px;
}
