.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 16px 0;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip h4 {
  font-size: 20px;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-product {
  margin-top: 20px;
  margin-bottom: 35px;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.empty-booking {
  margin: 20px 0px;
}

.card-review {
  overflow: hidden;
  padding: 8px 0;
  border-bottom: 1px solid $medium-gray;
  display: flex;
  align-items: center;
}
.card-review h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.card-review p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
.card-review .card-review-details {
  padding: 16px;
}
.card-review .card-review-stars {
  color: $orange;
}

.card-trip-infos.active-activities{
  align-items: center;
}
