.sort {
  background-color: #FFFFFF;
  padding: 4px 12px;
  margin: 4px 8px;
  border-radius: 20px;
  border: 1px solid grey;

}

.sort.active {
  background-color: #B3D8D8;
  padding: 4px 12px;
  margin: 4px 8px;
  border-radius: 20px;
  border: 1px solid black;
  outline: none;
}

button:focus {
  outline: none !important;
}
