.tag {
  background-color: #FFFFFF;
  padding: 4px 12px;
  margin: 4px 8px;
  border-radius: 20px;
  border: 1px solid grey;
}

.tag.active {
  background-color: rgb(230,230,230);
  padding: 4px 12px;
  margin: 4px 8px;
  border-radius: 20px;
  border: 1px solid black;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .city-card {
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
    filter: brightness(60%);
  }
}


.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .category-card {
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
    filter: brightness(60%);
  }
}

.category-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-shadow: 1px 1px rgb(220, 220, 220);
}

.category-card.active {
  display: inline-block;
  position: relative;
  text-align: center;
  color: white;
  filter: brightness(100%)
}

.city-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-shadow: 1px 1px rgb(220, 220, 220);

}


.city-card.active {
  display: inline-block;
  position: relative;
  text-align: center;
  color: white;
  filter: brightness(100%)
}

.activities-container {
  min-height: 100vh;
}


#scroll-to-category {
  height: 50px;
}

#scroll-to-sort {
  height: 50px;
}

#display-message {
  margin-top: 20px;
}
